<a href="https://colab.research.google.com/github/DaeSeokSong/LSTM-PPoA/blob/main/Predict_Price_of_Agricultural.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 당년 농산물 가격 예측 LSTM 모델

Input = 1~저번 달까지의 pram 값을 하나로 묶은 array(인스턴스)

output = 당월의 해당 채소 가격

layer = 원래 해당 채소 가격

### Google Drive Mount

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

%cd /content/gdrive/MyDrive/DeepLearning/Project/PPoA
!ls -al

Mounted at /content/gdrive
/content/gdrive/MyDrive/DeepLearning/Project/PPoA
total 16
drwx------ 2 root root  4096 Nov 24 06:07  Dataset
-rw------- 1 root root 11495 Nov 24 08:38 'Predict Price of Agricultural.ipynb'

### Import

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense
from keras.utils import *
from sklearn.preprocessing import *

# Function

In [28]:
def Normalizer(targetData) :
    return (targetData - targetData.min()) / ( targetData.max() - targetData.min())

### Data read

In [49]:
f_name = '2006_onion.csv'
df = pd.read_csv('./Dataset/'+f_name, index_col=0)

''' 기상변수 '''
# 강수량
precipi_avg = df['평균월강수량(mm)']
precipi_max = df['최다월강수량(mm)']
# 기온
temper_avg = df['평균기온(℃)']
temper_max = df['평균최고기온(℃)']
temper_min = df['평균최저기온(℃)']
# 풍속
windSpeed_avg = df['평균풍속(m/s)']
windSpeed_max = df['최대풍속(m/s)']
# 습도
humidity_avg = df['평균습도(%rh)']
humidity_min = df['최저습도(%rh)']
# 일조량 / 일사량
sunshine = df['일조합']
insolation = df['일사합']

''' 기타변수 '''
# 전년 재배면적
last_cultiv_area = df['전년생산면적']
# 전년 평균 생산량(수확량)
last_production = df['전년생산량']
# 전년 평균 생산단수
last_prod_unit = df['전년생산단수']
# 전년 수입량
last_amount_import = df['전년수입량']
# 해당 농작물 가격
crops_price = df['가격']
# 경유 가격
diesel_price = df['경유가격']
# 물가지수(price index -> pidx), 2015년 기준 얼마나 오르고 내렸는지
total_pidx = df['총 물가지수']
prod_pidx = df['상품']
agricul_marine_prod_pidx = df['농축수산물']
indust_prod_pidx = df['공업제품']
serv_pidx = df['서비스']
pub_serv_pidx = df['공공서비스']
per_serv_pidx = df['개인서비스']
house_pidx = df['집세']

prams = [precipi_avg, precipi_max,              # 강수량
         temper_avg, temper_max, temper_min,    # 기온
         windSpeed_avg, windSpeed_max,          # 풍속
         humidity_avg, humidity_min,            # 습도
         sunshine,                              # 일조량
         insolation,                            # 일사량
         last_cultiv_area,                      # 전년 재배면적
         last_production,                       # 전년 평균 생산량
         last_prod_unit,                        # 전년 평균 생산단수
         last_amount_import,                    # 전년 수입량
         crops_price,                           # 해당 농작물 월별 가격
         diesel_price,                          # 월별 경유 가격
         # 물가지수
         total_pidx, prod_pidx, agricul_marine_prod_pidx, indust_prod_pidx, serv_pidx, pub_serv_pidx, per_serv_pidx, house_pidx
         ]
df.head()

          평균월강수량(mm)  최다월강수량(mm)  평균기온(℃)  ...      집세   공공서비스   개인서비스
 2006-01        28.4        99.0      0.6  ...  79.137  88.025  78.424
 2006-02        30.6       102.7      1.2  ...  79.216  88.284  78.734
 2006-03        13.4        65.9      5.9  ...  79.216  88.543  79.821
 2006-04       101.9       282.8     11.3  ...  79.295  88.629  79.976
 2006-05       158.8       333.0     17.3  ...  79.374  88.716  80.054

[5 rows x 25 columns]

### Data preprocessing

In [50]:
# 정규화
for pram in prams :
    if pram.name.find('전년') != -1:
        print(pram)
        continue
    pram = Normalizer(pram)
    print(pram)

 2006-01    0.023981
 2006-02    0.027498
 2006-03    0.000000
 2006-04    0.141487
 2006-05    0.232454
 2006-06    0.215188
 2006-07    1.000000
 2006-08    0.179856
 2006-09    0.072582
 2006-10    0.052598
 2006-11    0.059472
 2006-12    0.014868
Name: 평균월강수량(mm), dtype: float64
 2006-01    0.028084
 2006-02    0.031223
 2006-03    0.000000
 2006-04    0.184032
 2006-05    0.226625
 2006-06    0.356440
 2006-07    1.000000
 2006-08    0.194807
 2006-09    0.175717
 2006-10    0.233582
 2006-11    0.139657
 2006-12    0.081113
Name: 최다월강수량(mm), dtype: float64
 2006-01    0.000000
 2006-02    0.023166
 2006-03    0.204633
 2006-04    0.413127
 2006-05    0.644788
 2006-06    0.799228
 2006-07    0.872587
 2006-08    1.000000
 2006-09    0.729730
 2006-10    0.625483
 2006-11    0.320463
 2006-12    0.054054
Name: 평균기온(℃), dtype: float64
 2006-01    0.000000
 2006-02    0.030888
 2006-03    0.250965
 2006-04    0.432432
 2006-05    0.664093
 2006-06    0.810811
 2006-07    0.810811
 2006-08    1.000000
 2006-09    0.749035
 2006-10    0.691120
 2006-11    0.332046
 2006-12    0.073359
Name: 평균최고기온(℃), dtype: float64
 2006-01    0.000000
 2006-02    0.003774
 2006-03    0.143396
 2006-04    0.369811
 2006-05    0.603774
 2006-06    0.777358
 2006-07    0.920755
 2006-08    1.000000
 2006-09    0.709434
 2006-10    0.581132
 2006-11    0.290566
 2006-12    0.052830
Name: 평균최저기온(℃), dtype: float64
 2006-01    0.333333
 2006-02    0.750000
 2006-03    0.916667
 2006-04    1.000000
 2006-05    0.500000
 2006-06    0.250000
 2006-07    0.250000
 2006-08    0.083333
 2006-09    0.250000
 2006-10    0.000000
 2006-11    0.500000
 2006-12    0.333333
Name: 평균풍속(m/s), dtype: float64
 2006-01    0.297872
 2006-02    1.000000
 2006-03    0.659574
 2006-04    0.393617
 2006-05    0.297872
 2006-06    0.468085
 2006-07    0.712766
 2006-08    0.457447
 2006-09    0.319149
 2006-10    0.914894
 2006-11    0.000000
 2006-12    0.776596
Name: 최대풍속(m/s), dtype: float64
 2006-01    0.290323
 2006-02    0.193548
 2006-03    0.000000
 2006-04    0.290323
 2006-05    0.483871
 2006-06    0.612903
 2006-07    1.000000
 2006-08    0.709677
 2006-09    0.612903
 2006-10    0.612903
 2006-11    0.387097
 2006-12    0.419355
Name: 평균습도(%rh), dtype: float64
 2006-01    0.125000
 2006-02    0.125000
 2006-03    0.000000
 2006-04    0.041667
 2006-05    0.166667
 2006-06    0.458333
 2006-07    1.000000
 2006-08    0.458333
 2006-09    0.458333
 2006-10    0.250000
 2006-11    0.166667
 2006-12    0.166667
Name: 최저습도(%rh), dtype: float64
 2006-01    0.579805
 2006-02    0.643648
 2006-03    1.000000
 2006-04    0.601954
 2006-05    0.756352
 2006-06    0.702932
 2006-07    0.000000
 2006-08    0.916612
 2006-09    0.698371
 2006-10    0.902280
 2006-11    0.537459
 2006-12    0.652769
Name: 일조합, dtype: float64
 2006-01    0.062057
 2006-02    0.262177
 2006-03    0.785775
 2006-04    0.675010
 2006-05    0.977583
 2006-06    0.949057
 2006-07    0.293505
 2006-08    1.000000
 2006-09    0.662794
 2006-10    0.512452
 2006-11    0.068638
 2006-12    0.000000
Name: 일사합, dtype: float64
 2006-01    16737
 2006-02    16737
 2006-03    16737
 2006-04    16737
 2006-05    16737
 2006-06    16737
 2006-07    16737
 2006-08    16737
 2006-09    16737
 2006-10    16737
 2006-11    16737
 2006-12    16737
Name: 전년생산면적, dtype: int64
 2006-01    1023331
 2006-02    1023331
 2006-03    1023331
 2006-04    1023331
 2006-05    1023331
 2006-06    1023331
 2006-07    1023331
 2006-08    1023331
 2006-09    1023331
 2006-10    1023331
 2006-11    1023331
 2006-12    1023331
Name: 전년생산량, dtype: int64
 2006-01    6114
 2006-02    6114
 2006-03    6114
 2006-04    6114
 2006-05    6114
 2006-06    6114
 2006-07    6114
 2006-08    6114
 2006-09    6114
 2006-10    6114
 2006-11    6114
 2006-12    6114
Name: 전년생산단수, dtype: int64
 2006-01     2689
 2006-02      987
 2006-03     3414
 2006-04     8778
 2006-05     1595
 2006-06      583
 2006-07      869
 2006-08     1225
 2006-09     1837
 2006-10     3407
 2006-11     7306
 2006-12    13913
Name: 전년수입량, dtype: int64
 2006-01    0.104359
 2006-02    0.184941
 2006-03    0.520476
 2006-04    0.545575
 2006-05    0.268164
 2006-06    0.000000
 2006-07    0.165125
 2006-08    0.351387
 2006-09    0.449141
 2006-10    0.595773
 2006-11    0.771466
 2006-12    1.000000
Name: 가격, dtype: float64
 2006-01    0.000000
 2006-02    0.028369
 2006-03    0.092199
 2006-04    0.382979
 2006-05    0.666667
 2006-06    0.659574
 2006-07    0.985816
 2006-08    1.000000
 2006-09    0.815603
 2006-10    0.368794
 2006-11    0.212766
 2006-12    0.177305
Name: 경유가격, dtype: float64
 2006-01    0.000000
 2006-02    0.091541
 2006-03    0.363847
 2006-04    0.409618
 2006-05    0.500000
 2006-06    0.409618
 2006-07    0.590962
 2006-08    0.863847
 2006-09    1.000000
 2006-10    0.772885
 2006-11    0.545771
 2006-12    0.681924
Name: 총 물가지수, dtype: float64
 2006-01    0.167122
 2006-02    0.167122
 2006-03    0.167122
 2006-04    0.250137
 2006-05    0.375205
 2006-06    0.125068
 2006-07    0.333697
 2006-08    0.958493
 2006-09    1.000000
 2006-10    0.458766
 2006-11    0.000000
 2006-12    0.208629
Name: 상품, dtype: float64
 2006-01    0.536589
 2006-02    0.463411
 2006-03    0.463411
 2006-04    0.390232
 2006-05    0.207204
 2006-06    0.000000
 2006-07    0.085348
 2006-08    0.853643
 2006-09    1.000000
 2006-10    0.573098
 2006-11    0.036508
 2006-12    0.329061
Name: 농축수산물, dtype: float64
 2006-01    0.000000
 2006-02    0.058327
 2006-03    0.058327
 2006-04    0.294705
 2006-05    0.823484
 2006-06    0.646969
 2006-07    0.882579
 2006-08    1.000000
 2006-09    0.882579
 2006-10    0.470453
 2006-11    0.353031
 2006-12    0.353031
Name: 공업제품, dtype: float64
 2006-01    0.00000
 2006-02    0.12012
 2006-03    0.47998
 2006-04    0.56006
 2006-05    0.60010
 2006-06    0.64014
 2006-07    0.76026
 2006-08    0.80030
 2006-09    0.92042
 2006-10    0.92042
 2006-11    0.92042
 2006-12    1.00000
Name: 서비스, dtype: float64
 2006-01    0.000000
 2006-02    0.100039
 2006-03    0.200077
 2006-04    0.233295
 2006-05    0.266898
 2006-06    0.300116
 2006-07    0.566628
 2006-08    0.566628
 2006-09    1.000000
 2006-10    1.000000
 2006-11    0.833526
 2006-12    0.899961
Name: 공공서비스, dtype: float64
 2006-01    0.000000
 2006-02    0.153617
 2006-03    0.692270
 2006-04    0.769078
 2006-05    0.807730
 2006-06    0.845887
 2006-07    0.922696
 2006-08    0.922696
 2006-09    0.884539
 2006-10    0.884539
 2006-11    0.922696
 2006-12    1.000000
Name: 개인서비스, dtype: float64
 2006-01    0.000000
 2006-02    0.076774
 2006-03    0.076774
 2006-04    0.153547
 2006-05    0.230321
 2006-06    0.230321
 2006-07    0.308066
 2006-08    0.384840
 2006-09    0.461613
 2006-10    0.692906
 2006-11    0.846453
 2006-12    1.000000
Name: 집세, dtype: float64

### Modeling

In [ ]:
model = Sequential()

model.add(LSTM(
    1, # 해당 층의 노드 개수
    input_shape=(50,1), # input_shape=?
    return_sequences=True)) # return_sequences == 각 시퀀스를 출력할지
model.add(Dropout(0.01)) # 과적합 방지용 Dropout 20%(==0.2)

model.add(Dense(1, activation='sigmoid')) # 활성화(Activation)함수 = sigmoid
model.compile(loss='mse', optimizer='rmsprop')

### Learning

### Prediction